@use "../abstracts";

.header {
  padding: 0.975rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__logo {
    &-menu {
      margin-inline-end: 0.65rem;
      cursor: pointer;
    }
  }

  &__nav {
    &-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100svw;
      height: 100svh;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      position: absolute;
      background-color: #fff;
      height: 100svh;
      width: 60%;
      left: 0;
      top: 0;
      padding: 4rem 1.275rem;
      translate: -100% 0;
      visibility: hidden;
      transition:
        translate 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
      z-index: 3;

      &.active {
        translate: 0 0;
        visibility: visible;
      }
    }

    &-link {
      text-decoration: none;
      color: abstracts.$very-dark-blue;
      font-weight: abstracts.$bold-font-weight;

      &-first {
        display: inline-block;
        margin-block-start: 1.275rem;
      }
    }

    &-close {
      position: absolute;
      top: 20px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    &-cart {
      &-img {
        cursor: pointer;
      }

      &-detail {
        position: absolute;
        background-color: abstracts.$white;
        width: 95%;
        height: 300px;
        top: 65px;
        border-radius: 0.625rem;
        translate: -83% -150%;
        visibility: hidden;
        transition:
          visibility 0.3s ease-in-out,
          translate 0.3s ease-in-out;
        z-index: 1;

        &.active {
          translate: -83% 0;
          visibility: visible;
        }

        &-title {
          font-weight: abstracts.$bold-font-weight;
          color: abstracts.$very-dark-blue;
          margin-block-end: 1.275rem;
          padding: 0.925rem 0.9725rem 0;
        }

        &-description {
          border-top: 1px solid abstracts.$dark-grayish-blue;
          color: abstracts.$dark-grayish-blue;
          font-weight: abstracts.$bold-font-weight;
        }
      }
    }

    &-profile-img {
      width: 25px;
      cursor: pointer;
    }
  }
}
