@use "../abstracts";

.main {
  &__image-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-block-end: 0.975rem;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      width: 100%;
      flex: 0 0 100%;
      scroll-snap-align: start;
    }
  }

  &__image {
    &-btn {
      position: relative;
    }
    &-left,
    &-right {
      position: absolute;
      top: 25%;
      // left: 0;
      // translate: 0 -25%;
      background-color: abstracts.$white;
      border-radius: 9999px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1;

      &:hover {
        filter: brightness(1.36) saturate(0.85);
      }
    }

    &-left {
      left: 0;
      translate: 0 -25%;
    }

    &-right {
      right: 0;
      translate: 0 -25%;
    }
  }

  &__image-thumbnail {
    display: none;
  }
}
