@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
}

.header {
  padding: 0.975rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo-menu {
  margin-inline-end: 0.65rem;
  cursor: pointer;
}
.header__nav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.header__nav-backdrop.active {
  opacity: 1;
  visibility: visible;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  background-color: #fff;
  height: 100svh;
  width: 60%;
  left: 0;
  top: 0;
  padding: 4rem 1.275rem;
  translate: -100% 0;
  visibility: hidden;
  transition: translate 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 3;
}
.header__nav-list.active {
  translate: 0 0;
  visibility: visible;
}
.header__nav-link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}
.header__nav-link-first {
  display: inline-block;
  margin-block-start: 1.275rem;
}
.header__nav-close {
  position: absolute;
  top: 20px;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header__user-cart-img {
  cursor: pointer;
}
.header__user-cart-detail {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 95%;
  height: 300px;
  top: 65px;
  border-radius: 0.625rem;
  translate: -83% -150%;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, translate 0.3s ease-in-out;
  z-index: 1;
}
.header__user-cart-detail.active {
  translate: -83% 0;
  visibility: visible;
}
.header__user-cart-detail-title {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-block-end: 1.275rem;
  padding: 0.925rem 0.9725rem 0;
}
.header__user-cart-detail-description {
  border-top: 1px solid hsl(219, 9%, 45%);
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
.header__user-profile-img {
  width: 25px;
  cursor: pointer;
}

.main__image-container {
  position: relative;
  display: flex;
  gap: 3px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-block-end: 0.975rem;
}
.main__image-container::-webkit-scrollbar {
  display: none;
}
.main__image-container img {
  width: 100%;
  flex: 0 0 100%;
  scroll-snap-align: start;
}
.main__image-btn {
  position: relative;
}
.main__image-left, .main__image-right {
  position: absolute;
  top: 25%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 9999px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.main__image-left:hover, .main__image-right:hover {
  filter: brightness(1.36) saturate(0.85);
}
.main__image-left {
  left: 0;
  translate: 0 -25%;
}
.main__image-right {
  right: 0;
  translate: 0 -25%;
}
.main__image-thumbnail {
  display: none;
}

.main__info {
  padding: 0 0.975rem 0.975rem;
}
.main__info-subtitle {
  text-transform: uppercase;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
}
.main__info-title {
  margin-block: 0.975rem;
}
.main__info-description {
  color: hsl(219, 9%, 45%);
  line-height: 1.5;
}
.main__info-pricing {
  margin-block: 0.975rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__info-pricing-price {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.main__info-pricing-price-sale {
  background-color: hsl(0, 0%, 0%);
  color: hsl(223, 64%, 98%);
  font-size: 0.875rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.25rem;
}
.main__info-pricing-old {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}

.main__info-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-block-start: 0.975rem;
}
.main__info-form-group {
  position: relative;
}
.main__info-form-input {
  width: 100%;
  padding: 0.675rem 2.5rem;
  text-align: center;
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.325rem;
  transition: outline 0.3s ease-in-out;
  appearance: textfield;
  -moz-appearance: textfield;
}
.main__info-form-input::-webkit-outer-spin-button, .main__info-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main__info-form-input:focus {
  outline: 1px solid hsl(26, 100%, 55%);
}
.main__info-form-minus, .main__info-form-plus {
  position: absolute;
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
}
.main__info-form-minus:hover, .main__info-form-plus:hover {
  filter: brightness(1.36) saturate(0.85);
}
.main__info-form-minus {
  top: 50%;
  left: 20px;
  translate: 0 -50%;
  cursor: pointer;
}
.main__info-form-plus {
  top: 50%;
  right: 20px;
  translate: 0 -50%;
  cursor: pointer;
}
.main__info-form-btn {
  padding: 0.975rem 0.875rem;
  border: none;
  border-radius: 0.625rem;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: hsl(26, 100%, 55%);
  color: hsl(220, 13%, 13%);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.main__info-form-btn:hover {
  background-color: hsl(26, 100%, 75%);
}
.main__info-form-btn img {
  filter: brightness(0.22) saturate(0.8);
}

/*# sourceMappingURL=style.css.map */
